# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large binary or model files (optional, if very large use Git LFS)
*.pkl
*.h5
*.joblib